body {
    background-color: black;
    color: white;
    font: 14px / 18px arial;
    font-family: monospace;
}

h1 {
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

h3 {
    font-size: 15px;
    color: red;
    font-weight: bold;
}

.sectionHeader {
    background: red;
    border-bottom: 6px solid blue;
    height: 50px;
    color: black;
    display: inline-block;
    line-height: 50px;
    font-size: 24px;
    padding: 5px 30px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.sectionArea {
    padding: 40px 0;
}


/* GRID SETTINGS */

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.container2 {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.comitesBody .container, .farkındalıkBody .container {
    justify-content: space-between;
}

.box4 {
    flex-grow: 1;
    width: 25%;
}

.box2 {
    flex-grow: 1;
    width: 50%;
    padding: 20px;
}

/* HOME SETTINGS */

header .logo {
    margin-right: auto;
}

header .logo img {
    display: block;
}

.menu li {
    float: left;
}

.menu li a {
    padding: 27px 17px;
    display: block;
    text-decoration: none;
    color: red;
    transition: all .4s ease;
}

.menu li:hover a {
    background: red;
    color: black;
}

#mainSlider {
    height: 500px;
    background: url('../img/mainPhoto.jpg') center center no-repeat;
    background-size: cover;
}

.slider {
    width: 100%;
}

#mainCaption {
    height: 500px;
    background: rgba(0, 0, 0, .5);
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.comitesTop, .farkındalıkTop {
    text-align: center;
}

.zoom {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;    
}

.zoom img {
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s ease;
}

.item {
    padding: 10px 20px;
}

.item .itemText {
    color: teal;
    text-align: center;
    padding: 15px;
    border: 1px solid red;
}

.itemText p {
    margin-top: 15px;
}

.item:hover .zoom img {
    transform: scale(1.25);
}

.item:hover h3 {
    color: black;
}

.item:hover .itemText {
    background: red;
    color: white;
    transition: all .5s ease;
}

.farkındalıkContainer {
    position: relative;
    width: 100%;
}

.imageOver {
    display: block;
    width: 100%;
    height: auto;
}

.farkındalıkOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(80, 13, 22, .7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.farkındalıkContainer:hover .farkındalıkOverlay {
    width: 100%;
}

.farkındalıkHeader {
    white-space: nowrap;
    color: silver;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.farkındalıkOverlay2 {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(80, 13, 22, .7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.farkındalıkContainer:hover .farkındalıkOverlay2 {
    width: 100%;
    left: 0;
}